:root {
  --oui-font-family: "Manrope", sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 34 211 238;
  --oui-color-primary-light: 125 234 248;
  --oui-color-primary-darken: 8 145 178;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 34 211 238;
  --oui-color-link-light: 125 234 248;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 179 188 201;
  --oui-color-quaternary: 122 132 148;

  --oui-color-danger: 255 95 109;
  --oui-color-danger-light: 255 139 150;
  --oui-color-danger-darken: 220 38 38;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 45 174 80;
  --oui-color-success-light: 74 222 128;
  --oui-color-success-darken: 22 163 74;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 9 17 29;
  --oui-color-fill-active: 14 24 38;

  --oui-color-base-1: 20 32 48;
  --oui-color-base-2: 18 28 43;
  --oui-color-base-3: 15 24 37;
  --oui-color-base-4: 13 21 32;
  --oui-color-base-5: 12 13 13;
  --oui-color-base-6: 9 17 29;
  --oui-color-base-7: 7 13 23;
  --oui-color-base-8: 5 10 18;
  --oui-color-base-9: 3 7 12;
  --oui-color-base-10: 2 3 10;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 95 109;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 45 174 80;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 34 211 238;
  --oui-gradient-primary-end: 45 174 80;

  --oui-gradient-secondary-start: 15 23 42;
  --oui-gradient-secondary-end: 34 211 238;

  --oui-gradient-success-start: 22 163 74;
  --oui-gradient-success-end: 74 222 128;

  --oui-gradient-danger-start: 220 38 38;
  --oui-gradient-danger-end: 255 95 109;

  --oui-gradient-brand-start: 164 214 188;
  --oui-gradient-brand-end: 45 174 80;
  --oui-gradient-brand-stop-start: 0%;
  --oui-gradient-brand-stop-end: 100%;
  --oui-gradient-brand-angle: 135deg;

  --oui-gradient-warning-start: 255 152 0;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 7 13 23;
  --oui-gradient-neutral-end: 15 24 37;

  /* rounded */
  --oui-rounded-sm: 6px;
  --oui-rounded: 20px;
  --oui-rounded-md: 14px;
  --oui-rounded-lg: 18px;
  --oui-rounded-xl: 24px;
  --oui-rounded-2xl: 32px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: "Manrope", sans-serif !important;
  font-size: 16px !important;
}

.orderly-app-container,
.orderly-app-container *,
.orderly-app-container *::before,
.orderly-app-container *::after {
  font-family: "Manrope", sans-serif !important;
}
